/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=========================================== Конец CSS Reset =====================================================================================*/
.topick{
	text-align: center;
}

header {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

nav {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.home, .contacts, .about-me, .partners, .sign-in, .search {
	white-space: nowrap;
}

.search {
	align-self: stretch;
	width: 100%;
}

.container{
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

.inner-section-Top {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

.bottom-Hight-block {
	display: flex;
	flex-direction: column;
}

.section-2 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.section-1 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.inner-section-Bottom {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.bottom-right-block {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.info {
	display: flex;
	justify-content: space-between;
}

.no-image {
	height: 100%;
	display: flex;
}

.no-image article {
	width: 100%;
}