body .page .topick {
  font-size: 26px; }

body .page .container .section-1 .news article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-1 .news article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-1 .news article .info p {
  line-height: 1.2; }

body .page .container .section-1 .no-image article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-1 .no-image article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-1 .no-image article .info p {
  line-height: 1.2; }

body .page .container .section-1 .no-image article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-1 .no-image article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-1 .no-image article .info p {
  line-height: 1.2; }

body .page .container .section-1 .no-image article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-1 .no-image article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-1 .no-image article .info p {
  line-height: 1.2; }

body .page .container .section-2 .inner-section-top article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-2 .inner-section-top article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-2 .inner-section-top article .info p {
  line-height: 1.2; }

body .page .container .section-2 .inner-section-top article .info p {
  line-height: 1.2; }

body .page .container .section-2 .inner-section-bottom .bottom-hight-block article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-2 .inner-section-bottom .bottom-hight-block article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-2 .inner-section-bottom .bottom-hight-block article .info p {
  line-height: 1.2; }

body .page .container .section-2 .inner-section-bottom .bottom-hight-block article .info p {
  line-height: 1.2; }

body .page .container .section-2 .bottom-right-block .news article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-2 .bottom-right-block .news article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-2 .bottom-right-block .news article .info p {
  line-height: 1.2; }

body .page .container .section-2 .bottom-right-block .news article .info p {
  line-height: 1.2; }

body .page .container .section-2 .bottom-right-block .no-image article .wrapper-news .hello-world {
  font-size: 22px;
  font-weight: bold; }

body .page .container .section-2 .bottom-right-block .no-image article .wrapper-news p {
  line-height: 1.2; }

body .page .container .section-2 .bottom-right-block .no-image article .info p {
  line-height: 1.2; }

body .page .container .section-2 .bottom-right-block .no-image article .info p {
  line-height: 1.2; }
