body {
  .page {
    .topick {
      h1 {
      }
    }

    header {
      nav {
        .home {
          margin-right: 10px;
        }
        .contacts {
          margin-right: 10px;
        }
        .about-me {
          margin-right: 10px;
        }
        .partners {
          margin-right: 10px;
        }
      }
      .search {
        margin-right: 10px;
      }

      .button {
      }

      .sign-in {
      }
    }

    .container {
      margin-top: 30px;
      .section-1 {
        .news {
          .image-1 {
          }
          article {
            .wrapper-news {
              .hello-world {
              }
              .text-default {
              }
            }
            .info {
              margin-top: 15px;
              .text-default {
              }
            }
          }
        }
        .no-image {
          margin-top: 15px;
          article {
            .wrapper-news {
              .hello-world {
              }
              .text-default {
              }
            }
            .info {
              margin-top: 15px;
              .text-default {
              }
            }
          }
        }
        .no-image {
          margin-top: 15px;
          article {
            .wrapper-news {
              .hello-world {
              }
              .text-default {
              }
            }
            .info {
              margin-top: 15px;
              .text-default {
              }
            }
          }
        }
        .no-image {
          margin-top: 15px;
          article {
            .wrapper-news {
              .hello-world {
              }
              .text-default {
              }
            }
            .info {
              margin-top: 15px;
              .text-default {
              }
            }
          }
        }
      }
      .section-2 {
        margin-left: 15px;
        .inner-section-top {
          article {
            .wrapper-news {
              .hello-world {
              }
              .text-default {
              }
            }
            .info {
              margin-top: 15px;
              .text-default {
              }
              .text-default {
              }
            }
          }
          .image-2 {
          }
        }
        .inner-section-bottom {
          margin-top: 15px;
          .bottom-hight-block {
            .image-3 {
            }
            article {
              .wrapper-news {
                .hello-world {
                }
                .text-default {
                }
              }
              .info {
                margin-top: 15px;
                .text-default {
                }
                .text-default {
                }
              }
            }
          }
        }
        .bottom-right-block {
          margin-left: 15px;
          .news {
            .image-4 {
            }
            article {
              .wrapper-news {
                .hello-world {
                }
                .text-default {
                }
              }
              .info {
                margin-top: 15px;
                .text-default {
                }
                .text-default {
                }
              }
            }
          }
          .no-image {
            margin-top: 15px;
            article {
              .wrapper-news {
                .hello-world {
                }
                .text-default {
                }
              }
              .info {
                margin-top: 15px;
                .text-default {
                }
                .text-default {
                }
              }
            }
          }
        }
      }
    }
  }
}
