body {
  .page {
    .topick {
      font-size: 26px;
      h1 {
      }
    }

    header {
      nav {
        .button {
        }
      }
      .search {
      }

      .button {
      }

      .sign-in {
      }
    }

    .container {
      .section-1 {
        .news {
          .image-1 {
          }
          article {
            .wrapper-news {
              .hello-world {
                font-size: 22px;
                font-weight: bold;
              }

              p {
                line-height: 1.2;
              }
            }
            .info {
              p {
                line-height: 1.2;
              }
            }
          }
        }
        .no-image {
          article {
            .wrapper-news {
              .hello-world {
                font-size: 22px;
                font-weight: bold;
              }

              p {
                line-height: 1.2;
              }
            }
            .info {
              p {
                line-height: 1.2;
              }
            }
          }
        }
        .no-image {
          article {
            .wrapper-news {
              .hello-world {
                font-size: 22px;
                font-weight: bold;
              }

              p {
                line-height: 1.2;
              }
            }
            .info {
              p {
                line-height: 1.2;
              }
            }
          }
        }
        .no-image {
          article {
            .wrapper-news {
              .hello-world {
                font-size: 22px;
                font-weight: bold;
              }

              p {
                line-height: 1.2;
              }
            }
            .info {
              p {
                line-height: 1.2;
              }
            }
          }
        }
      }
      .section-2 {
        .inner-section-top {
          article {
            .wrapper-news {
              .hello-world {
                font-size: 22px;
                font-weight: bold;
              }

              p {
                line-height: 1.2;
              }
            }
            .info {
              p {
                line-height: 1.2;
              }

              p {
                line-height: 1.2;
              }
            }
          }
          .image-2 {
          }
        }
        .inner-section-bottom {
          .bottom-hight-block {
            .image-3 {
            }
            article {
              .wrapper-news {
                .hello-world {
                  font-size: 22px;
                  font-weight: bold;
                }

                p {
                  line-height: 1.2;
                }
              }
              .info {
                p {
                  line-height: 1.2;
                }

                p {
                  line-height: 1.2;
                }
              }
            }
          }
        }
        .bottom-right-block {
          .news {
            .image-4 {
            }
            article {
              .wrapper-news {
                .hello-world {
                  font-size: 22px;
                  font-weight: bold;
                }

                p {
                  line-height: 1.2;
                }
              }
              .info {
                p {
                  line-height: 1.2;
                }

                p {
                  line-height: 1.2;
                }
              }
            }
          }
          .no-image {
            article {
              .wrapper-news {
                .hello-world {
                  font-size: 22px;
                  font-weight: bold;
                }

                p {
                  line-height: 1.2;
                }
              }
              .info {
                p {
                  line-height: 1.2;
                }

                p {
                  line-height: 1.2;
                }
              }
            }
          }
        }
      }
    }
  }
}
