body {
  background-color: mediumseagreen; }

.topic {
  color: white; }

.news {
  background-color: white; }

.button {
  background-color: white;
  color: black; }

.search {
  background-color: #8ad1aa; }
