.container2{
	margin-top: 30px;
}

.section-Right{
    margin-left: 15px;
}

.inner-section-Bottom{
    margin-top: 15px;
}

.bottom-right-block{
    margin-left: 15px;
}

.a, .b, .c, .d, .search{
	margin-right: 10px;
}

.no-image{
    margin-top: 15px;
}

.info{
	margin-top: 15px;
}